PORT=3001
NODE_ENV=development

DATABASE_URL=

DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_REFRESH_TOKEN=
DROPBOX_UPLOAD_FOLDER=/submissions-dev

FRONTEND_URL=http://localhost:5173

RECAPTCHA_SECRET_KEY=

BUCKET_ENDPOINT=
BUCKET_REGION=auto
BUCKET_ACCESS_KEY=
BUCKET_SECRET_KEY=
BUCKET_NAME=
